---
layout: _layouts/layout.njk
---

{% block content %}
  <section class="bg-brand-grey py-16 sm:py-20 mb-16 sm:mb-20" id="about">
    <div class="container">
      <div class="sm:flex gap-x-12">
        <div class="sm:w-3/5 flex flex-col justify-center mb-8 sm:mb-0">
          <h3 class="title-h1 text-4xl">
            Lykke Group is a global investment and alternative asset management and advisory firm.
          </h3>
        </div>
        <figure class="sm:w-2/5">
          <img class="rounded" src="/img/home.jpg" alt="Woman smiling">
        </figure>
      </div>
    </div>
  </section>

  <main class="container mb-20 sm:mb-24" id="services">
    <h2 class="title-h1">
      Services
    </h2>
    <h3 class="max-w-70ch title-h3 mb-8 last:mb-0 prose">
      We research and analyze global sustainability, investment, and healthcare trends to provide our clients with the insight they need to make informed decisions about how to invest, operate, and innovate in a sustainable manner.
    </h3>
    <section class="mb-8 last:mb-0">
      <ul class="md:flex gap-x-8">
        {% for service in serviceList %}
          <li class="md:w-1/2 mb-6 md:mb-0 last:mb-0 bg-brand-grey px-8 py-6 rounded">
            <article>
              <h2 class="title-h2">
                {{ service.title }}
              </h2>
              <p class="prose">
                {{ service.description|safe }}
              </p>
            </article>
          </li>
        {% endfor %}
      </ul>
    </section>
  </main>
{% endblock %}
