@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  /* Responsive sizes */
  @screen sm {
    html {
      font-size: 20px;
    }
  }

  /* Smooth Scrolling */
  html {
    scroll-behavior: smooth;
  }

  /* Container Reset */
  @responsive {
    .container-reset { @apply px-0 mx-0; }
  }

  /* Typography */
  .title-h1 { @apply text-4xl mb-8; }
  .title-h2 { @apply text-2xl mb-2; }
  .title-h3 { @apply text-lg mb-4; }
  .title-h4 { @apply text-base; }
  
  .prose p,
  .prose ul,
  .prose ol { @apply mb-2 last:mb-0; }
  .prose a { 
    @apply underline;
    text-decoration-color: theme('colors.brand.darker-grey');
  }
  .prose a:visited { @apply text-current; }
  .prose a:hover {
    text-decoration-color: inherit;
  }
  .prose a.button { @apply inline-block px-0 py-0 bg-brand-blue text-white leading-none rounded-sm no-underline hover:underline; }
  .prose ul { @apply pl-5 list-disc; }
  .prose ol { @apply pl-5 list-decimal; }
  .prose ul > li,
  .prose ol > li { @apply mb-2 last:mb-0; }
  .prose li > ul > li,
  .prose li > ol > li { @apply mb-0; }

  .prose ul.list-hanging,
  .prose ol.list-hanging { @apply pl-0; }
}



@layer components {
  /* Icons */
  .icon {
    @apply bg-h-6 bg-no-repeat;
  }
  .icon-linkedin {
    background-image: url("/img/icons/linkedin.svg");
  }
  .icon-hamburger {
    background-image: url("/img/icons/hamburger.svg");
  }
  .icon-cross {
    background-image: url("/img/icons/cross.svg");
  }

  /* Toggle Menu */
  .toggle-trigger {
    @apply cursor-pointer block;
  }
  .toggle-controller { @apply sr-only; }
  .toggle-content {
    opacity: 1;
    overflow: visible;
    transform-origin: top center;
    transform: scaleY(1);
    transition: all 0.2s ease-in-out;
  }
  .toggle-controller:not(:checked) ~ .toggle-content {
    opacity: 0;
    overflow: hidden;
    transform: scaleY(0);
  }
  @responsive {
    .toggle-hidden { @apply hidden; }
    .toggle-content-visible {
      opacity: 1 !important;
      overflow: visible !important;
      transform: scaleY(1) !important;
    }
  }

  /* Fragment links */
  .fragment-container { @apply sm:-ml-8 sm:pl-8 sm:relative; }
  .fragment-link { @apply hidden absolute top-0 left-3; }
  .fragment-container:hover > .fragment-link { @apply sm:block; }
}
